#canvas {
    border: solid black 1px;
}

#hideButton {
    font-weight: 800;
    font-family: monospace;
    font-size: x-large;
    padding-top: -5px;
    height: 24px;
}

.dash-btn {
    font-weight: 800;
    font-family: monospace;
    font-size: larger;
}

.dash-text {
    width: 70px;
    text-align: right;
}

.action-text{
    width: 70px;
    text-align: right;
}

.dash-label {
    width: 50px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
}

#scopeRange {
    width: 250px;
    margin-top: 5px;
    margin-left: 15px;
}

#dashboard, #hideButton {
    position: absolute;
    top: 61px;
    left: 10px;
}

#hideButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2; 
}

#dashboard {
    width: 300px;
    height: 100px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);

    z-index: 1;   
    display: 'block'; 
}

#actionBoard {
    position: absolute;
    top: 175px;
    left: 10px;
    width: 145px;
    height: 75px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);
    display: none; 
}


#planetBoard {
    position: absolute;
    top: 61px;
    left: 720px;
    width: 275px;
    height: 130px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);

    z-index: 1;   
    display: none; 
}

#sceneArea {
    margin-top: 4px;
    width: 187px;
}

select {
    width: 80px;
    padding: 2px;
    font-size: 14px;
}

