body {
    width: 1000px;    
}
.cont {
    position: relative;
}

#menuDiv {
    border: solid black 1px;
    margin-bottom: 5px;
    padding: 4px 10px 0px 10px;
    border-radius: 4px;  
    display: flex;
    justify-content: space-between
}

#menuDiv span {
    color: red;
    font-size: 30px;
    font-weight: 800; 
}

#menuDiv button{
    width: 40px; 
    height: 40px; 
    background-size:contain;
    border: thin black 1px; 
    cursor: pointer; 
    margin-left: 8px;
    border-radius: 4px;
}


#canvas {
    border: solid black 1px;
    border-radius: 4px;
}



.dash-btn {
    font-weight: 800;
    font-family: monospace;
    font-size: larger;
}

.dash-text {
    width: 70px;
    text-align: right;
    margin-bottom: 3px;
}

.dash-label {
    width: 55px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
}

#scopeRange {
    width: 250px;
    margin-top: 5px;
    margin-left: 15px;
    color: white;
}

#dashboard, #hideButton {
    position: absolute;
    top: 4px;
    left: 4px;
}

#hideButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2; 

    font-weight: 800;
    font-family: monospace;
    font-size: x-large;
    padding-top: -5px;
    height: 24px;
    border: none;
}

#dashboard {
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);

    z-index: 1;   
    display: 'block'; 
}

#planetBoard {
    position: absolute;
    top: 4px;
    right: 4px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);  
    display: none; 
}

.start-board {
    position: absolute;
    top: 166px;
    right: 4px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);
    display: none; 
}

#taskDiv {
    position: absolute;
    z-index: 2;
    display: none;

    top: 112px;
    left: 4px;
    width: 450px;
    border: solid black 1px;
    background-color:darkblue;
    box-shadow: 10px 10px 15px rgba(135, 130, 130, 0.5);
    user-select: none; /* Стандартний синтаксис */
}

#condDiv, #helpDiv, #solvDiv  {
    text-align: left;
    padding: 10px;
    margin:2px;
}

#condDiv {
    background-color: greenyellow;
}

#helpDiv {
    background-color: yellow;
}

#solvDiv {
    background-color:lightpink;
}


#sceneArea, #dataArea {
    margin-top: 4px;
    width: 187px;
    width: 1000px;
    height: 60px;
}

