#canvas {
    border: solid black 1px;
}

.dash-btn {
    font-weight: 800;
}

#dashboard, #hideButton {
    position: absolute;
    top: 61px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.3);
}


#dashboard {
    width: 450px;
    height: 100px;
    border: solid black 1px;
    
    z-index: 1;   
    display: 'block'; 
}

#hideButton {
    z-index: 2; 
}