:root {
    --canvas-width: 900px;
    --canvas-height: 800px;
    --panel-color: #4335a7;
    --gray-blue-color: rgb(203, 215, 236);
    --canvas-color:rgb(255, 246, 233);
} 

body {
    background-color: var(--gray-blue-color);
}

.head {
    color:var(--panel-color);
    width: var(--canvas-width);
}

#adminButton {
    float: right;
    color: var(--panel-color);
    border-color: var(--panel-color);
    margin-right: 4px;
}

/* ---------------------- top panel (buttons row) ---------------------- */

.topPanel {
    border: solid gray 1px; 
    padding: 5px;  
    width: var(--canvas-width);
    margin-bottom: 4px;
    background-color:var(--panel-color);
    color: white;
    position: relative;
}

.panel-button {
    border: solid gray 1px; 
    width: 40px;
    margin-left: 8px;
    font-weight: 700;
    color:var(--panel-color);
    background-color: lightblue;
}
.panel-button:hover {
    background-color:  rgb(200, 240, 255);
    color: var(--panel-color);
}

#planetButton {
    color: blue;   
    border: blue solid 2px;
    font-weight: 600; 
    margin-left:    8px;
    height: 36px; 
    width: 60px;
}

#runButton {
    background-color: rgb(0, 160, 0)
}
#runButton:hover {
    background-color:  rgb(0, 220, 20)
}

#sceneSelect {
    margin-top: 12px;
    margin-left: 8px;
    display: inline-block; 
    max-width: 280px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.15s;
    background-color: #fff6e9;
    color: var(--panel-color);
    
    font-size: 17px;
    box-shadow: 0 2px #fff6e956;
}
#sceneSelect:hover {
    background-color: #fed1ac;
    color: var(--panel-color);
}

#scopeRange {
    width: 200px;
    margin-top: 5px;
    margin-left: 15px;
    color: white;
}
#infoSpan {
    margin-left: auto;
    margin-right: 20px;
}

#mousePosSpan  {
    font-size: 14px;
    color: var(--gray-blue-color);  
    font-size: 12px;
}


/* ----------------- Canvas Containeer -------------------------- */

.canvas-cont {
    position: relative;
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color:var(--canvas-color);
}

.canvas-item {
    position: absolute;
    top: 0;
    right: 0;
}

#canvas {
    z-index: 2;
    background-color: darkblue;
}


/* -----------------  Board Styles -------------------------- */

#problemBoard, #planetBoard {
    border: none;   
    border-radius: 1px 1px 4px 4px;
    font-family: monospace;
    font-weight: 800; 
    padding: 5px;
    /* background-image: linear-gradient(180deg, #9adcffc7, #9adcff46 ); */
    background-color: aliceblue;
    display: none; 
    z-index: 3;
    left: auto;  
    right: 0;     
}

#problemBoard {

    color: black;   
    width: 500px;
    left: 0;
}

#answerText {
    width: 100px; 
    background-color: white;
}

.start-board {
    position: absolute;
    top: 166px;
    right: 4px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;1958
    padding: 5px;
    background-color: aliceblue;
    display: none; 
    z-index: 4;
}

#sceneArea, #dataArea {
    margin-top: 4px;
    width: 187px;
    width: 1000px;
    height: 60px;
}

.board-label {
    width: 55px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
}

.board-text {
    width: 70px;
    text-align: right;
    margin-bottom: 3px;
    border-radius: 4px;
    background-color: rgb(117 190 218 / 0%); 
}

.board-button {
    width: 70px;
    border: none;
    background-color: #fed1ac;
    border-radius: 4px;
    color: var(--panel-color);
}
.board-button:hover {
    background-color: #f8b177;
}



/* ------------------ bottom panel ---------------- */
.bottom-panel {
   margin-top: 4px;
   width: var(--canvas-width);
} 
#savedSceneArea
{
    width: 820px;
    background-color: var(--panel-color);
    color: white;
}

.scene-btn {
    vertical-align: top;
}

