:root {
    --canvas-width: 900px;
    --canvas-height: 800px;
    --deep-blue-color: #4335a7;
    --gray-blue-color: rgb(203, 215, 236);
    --canvas-color:rgb(255, 246, 233);
} 

body {
    background-color: var(--gray-blue-color);
}

.head {
    color:var(--deep-blue-color);
    width: var(--canvas-width);
}

#adminButton {
    float: right;
    color: var(--deep-blue-color);
    border-color: var(--deep-blue-color);
    margin-right: 4px;
}

/* ---------------------- top panel (buttons row) ---------------------- */

.topPanel {
    border: solid gray 1px; 
    padding: 5px;  
    width: var(--canvas-width);
    margin-bottom: 4px;
    background-color:var(--deep-blue-color);
    color: white;
    position: relative;
}

.panel-button {
    border: solid gray 1px; 
    width: 40px;
    margin-left: 8px;
    font-weight: 700;
    color:var(--deep-blue-color);
    background-color: lightblue;
}
.panel-button:hover {
    background-color:  rgb(200, 240, 255);
    color: var(--deep-blue-color);
}

#planetButton {
    color: blue;   
    border: blue solid 2px;
    font-weight: 600; 
    margin-left:    8px;
    height: 36px; 
    width: 60px;
}

#runButton {
    background-color: rgb(0, 160, 0)
}
#runButton:hover {
    background-color:  rgb(0, 220, 20)
}

#sceneSelect {
    margin-top: 12px;
    margin-left: 8px;
    display: inline-block; 
    max-width: 280px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.15s;
    background-color: #fff6e9;
    color: var(--deep-blue-color);
    
    font-size: 17px;
    box-shadow: 0 2px #fff6e956;
}
#sceneSelect:hover {
    background-color: #fed1ac;
    color: var(--deep-blue-color);
}

#scopeRange {
    width: 150px;
    margin-top: 5px;
    margin-left: 15px;
    color: white;
}


#mousePosSpan  {
    /* position: absolute;
    right: 10px;
    top: 10px; */
    font-size: 14px;
    color: var(--gray-blue-color);  
    font-size: 12px;
}


/* ----------------- Canvas Containeer -------------------------- */

.canvas-cont {
    position: relative;
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color:var(--canvas-color);
}

.canvas-item {
    position: absolute;
    top: 0;
    right: 0;
}

#canvas {
    z-index: 2;
    background-color: darkblue;
}


/* -----------------  Board Styles -------------------------- */

#planetBoard, #problemBoard {
    border: none;
    
    border-radius: 1px 1px 4px 4px;
    border-color: rgb(117 190 218 / 70%);
    font-family: monospace;
    font-weight: 800;
    color: #ff7f3e;
    padding: 5px;
    background-color: #9adcff00 ;
    background-image: linear-gradient(180deg, #9adcffc7, #9adcff46 );
    display: none; 
    z-index: 3;
    left: auto;  
    right: 0;     
}

#problemBoard {
    background-color: rgba(241, 241, 10, 0.1);
    width: 500px;
    left: 0;
}

#answerText {
    width: 100px; 
    background-color: rgba(255,255,255, 0);
}

.start-board {
    position: absolute;
    top: 166px;
    right: 4px;
    border: solid black 1px;
    font-family: monospace;
    font-weight: 800;
    color: white;
    padding: 5px;
    background-color: rgb(117 190 218 / 50%);
    display: none; 
    z-index: 4;
}

#taskDiv {
    position: absolute;
    z-index: 3;
    display: none;
    top: 0px;
    left: 4px;
    width: 450px;
    border: solid black 1px;
    background-color:darkblue;
    box-shadow: 10px 10px 15px rgba(135, 130, 130, 0.5);
    user-select: none; /* Стандартний синтаксис */
}

#helpDiv, #solvDiv  {
    text-align: left;
    padding: 10px;
    margin:2px;
}

#helpDiv {
    background-color: yellow;
}

#solvDiv {
    background-color:lightpink;
}


#sceneArea, #dataArea {
    margin-top: 4px;
    width: 187px;
    width: 1000px;
    height: 60px;
}



.board-text {
    width: 70px;
    text-align: right;
    margin-bottom: 3px;
    
    border-radius: 4px;
    background-color: rgb(117 190 218 / 0%); 
    border-color: #4235a748;
}

.board-button {
    width: 70px;
    border: none;
    background-color: #fed1ac;
    border-radius: 4px;
    color: var(--deep-blue-color);
}
.board-button:hover {
    background-color: #f8b177;
}

.board-label {
    width: 55px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
    color: var(--deep-blue-color);
}


/* ------------------ bottom panel ---------------- */
.bottom-panel {
   margin-top: 4px;
   width: var(--canvas-width);
} 
#savedSceneArea
{
    width: 820px;
    background-color: var(--deep-blue-color);
    color: white;
}

.scene-btn {
    vertical-align: top;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* #menuDiv {
    border: solid black 1px;
    margin-bottom: 5px;
    padding: 4px 10px 0px 10px;
    border-radius: 4px;  
    background-color: lightcyan;
    display: flex;
    justify-content: space-between
}

#menuDiv span {
    color: red;
    font-size: 30px;
    font-weight: 800; 
}

#menuDiv button{
    width: 40px; 
    height: 40px; 
    background-size:contain;
    background-clip: border-box;
    border: thin black 1px; 
    cursor: pointer; 
    margin-left: 8px;
    border-radius: 4px;
}





#clearAllButton {
    background-color: red;
    color: white;
}
 */
